<ion-row padding align-items-center>
  <ion-col col-12  class="form-registry">
    <ion-list>
      <ion-item>
        <ion-label fixed>Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Correo</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
  </ion-col>
  <ion-col>
    <button ion-button block (click)="createPerson(username, email, password)">
      Crear cuenta
    </button>
  </ion-col>
</ion-row>
