<!--
  Generated template for the UserListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of listUsers">
      <!-- <ion-avatar item-start>
        <img src="img/avatar-cher.png">
      </ion-avatar> -->
      <h2>{{item.userName}}</h2>
      <p>{{item.email}}</p>
    </ion-item>
  </ion-list>
</ion-content>
