<ion-row padding align-items-center>
  <ion-col>
  <ion-list>
    <ion-item>
      <ion-label fixed>Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="lastName"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block color="dark" (click)="createPerson(firstName, lastName)">
    Ingresar
  </button>
  </ion-col>

</ion-row>
