<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <ion-title>Hoteles</ion-title>
      </ion-navbar>
      <ion-toolbar >
        <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
          <ion-segment-button value="0">
            Iniciar sesión
          </ion-segment-button>
          <ion-segment-button value="1">
            Registrarme
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
    
      <ion-slides (ionSlideDidChange)="onSlideChanged($event)" #sliderLogin>
        <ion-slide> 
          <login></login>
        </ion-slide>
        <ion-slide>
          <registry></registry>
        </ion-slide>
        <ion-slide>
          <h1>Slide 3</h1>
        </ion-slide>
      </ion-slides>
    
    </ion-content>
    